<div class="accordionClass">
    <p-accordion>
        <p-accordionTab header="Notifications ({{ toastCount }})">
            <div *ngIf="notifications.length != 0; else emptyBlock">
                <div class="toastParentBox" *ngFor="let toast of notifications; let i = index">
                    <app-toast [toast]="toast" [index]="i" (toastActionEvent)="toastAction($event)"></app-toast>
                </div>
            </div>
            <ng-template #emptyBlock>
                <span class="noToasts">
                    No New Notifications available at the moment !
                </span>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
</div>