.toast {
    margin: 10px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.avatar {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.textAndDesc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 270px;
}

.description {
    font-size: 10px;
    display: block;
    color: grey;
    font-style: italic;
}

.attachments {
    cursor: pointer;
}