<div class="toast">
    <div class="textAndDesc">
        <span class="avatar">
            <img class="avatar" src="https://i.pravatar.cc/{{100}}" title="{{toast.from.name}}">
        </span>
        <span #msg class="titleToast{{index}}" title="{{toast.message}}">
            {{ toast.message }}
        </span>&nbsp;&nbsp;
        <span class="description" *ngIf="toast.description; else noDescription">
            {{ toast.description }}
        </span>
        <ng-template #noDescription>
            <span class="description"> No description </span>
        </ng-template>
    </div>
    <span class="actions">
        <app-action-controls [toast]="toast" [index]="index" (toastActionEvent)="toastAction($event)">
        </app-action-controls>
    </span>
</div>